body {
    color: #555555;
}
* {   
    font-family: Roboto, Arial, sans-serif;
}

header {
    background: #073642;
    color: #93a1a1;
}
header .title {
    font-size: 1.5em;
}

.wrapper {
    padding: 2rem 2%;
    max-width: 1500px;
    margin: 0 auto;
}

form {
    font-size: 1.2em;
    margin: 1em 0;
}
.pure-button-primary {
    background-color: #586e75;
}

.plots {
}

footer {
    background: #073642;
    color: #93a1a1;
}

footer a {
    color: #93a1a1;
}
